h1 {
  text-align: center;
}

div {
  margin-left:auto;
  margin-right: auto;
}

.info-text
{
  text-align: center;
}

.form-group
{
  padding-right: 30px;
}

.error
{
  color: #9C1A1C;
  font-weight: bold;
  text-align: center;
  font-size: x-large;
}

button
{
  height: 100px;
  vertical-align: center;
  align-self: center;
}