h1
{
  text-align: center;
}

.info-text
{
  text-align: center;
}

.form-group
{
  padding-right: 30px;
}

button
{
  height: 100px;
  vertical-align: center;
  align-self: center;
}