{% extends "base.html" %}

{% block content %}
    {% if error %}
        <p class=error><strong>Error:</strong> {{ error }}

    {% else %}
    
        <div class="row justify-content-around">
        
        {% for things in data%}

            {% if things %}
                <div class="col-md-5 border rounded my-2 p-2" id="{{things.subreddit}}">
                <h3 class="d-inline">/r/{{things.subreddit}} </h3>
                <button type = "button" class="btn btn-danger d-inline" onclick=removeElement("{{things.subreddit}}")>DELETE</button>
                <ul class="list-group list-group-flush">

                {% for thing in things.data%}
                    <li class="list-group-item" id="{{thing.id}}">
                        <img src="{{thing.thumbnail}}" alt=""><a href="{{thing.url}}">Link</a>
                    </li>
                {% endfor %}
                </ul>
                </div>
            {% endif %}
        {% endfor %}

        </div>


        {% for transform in transformed %}
            <div>
                {{transform}}
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}